<div class="container">
    <mat-tab-group>
        <mat-tab label="Filmy">
          <ng-template matTabContent>
              <ng-container>
                <admin-movie></admin-movie>
              </ng-container>
          </ng-template>
        </mat-tab>
        <mat-tab label="Gatunki">
            <ng-template matTabContent>
              <ng-container>
                <admin-genre></admin-genre>
              </ng-container>
            </ng-template>
          </mat-tab>
        <mat-tab label="Personel">
          <ng-template matTabContent>
            <ng-container>
              <admin-personnel></admin-personnel>
            </ng-container>
          </ng-template>
        </mat-tab>
        <mat-tab label="Użytkownicy">
            <ng-template matTabContent>
              <ng-container>
                <admin-user></admin-user>
              </ng-container>
            </ng-template>
        </mat-tab>
        <mat-tab label="Recenzje">
            <ng-template matTabContent>
              Content 5 - Loaded:
            </ng-template>
        </mat-tab>
      </mat-tab-group>
</div>