h2 {
    margin-bottom: 5px;    
}

hr {
    margin-top: 5px;
    margin-bottom: 5px;
}

.container-margins {
    margin-top: 100px;
    margin-bottom: 50px;
}

.movie-poster {
    max-width: 414px;
    max-height: 650px;
}

.mat-chip-list /deep/.mat-chip-list-wrapper {
    margin-right: 15px;
    margin-bottom: 5px;
}

.mat-chip {
    font-size: 12px;
}

.mat-spinner {
    margin: auto;
}

.footer-row {
    margin-bottom: 200px;
}

.user-review {
    margin-top: 20px;
}

.user-review-title {
    font-size: 18px!important;
}

.actor-element {
    padding: 5px 16px;
    font-size: 16px;
}