h2 {
    margin-bottom: 5px;
    margin-top: 10px;
}

.golden-star {
    color: goldenrod;
    font-size: 35px;
    margin-top: 10px;
}

.filters {
    margin-top: 20px;
    margin-bottom: 20px;
}

.input-padding-right-25 {
    padding-right: 25px;
}

.movie-card-margins {
    margin-top: 15px;
    margin-bottom: 15px;
}

.mat-chip-list /deep/.mat-chip-list-wrapper {
    margin-left: 15px;
    margin-right: 15px;
    margin-bottom: 5px;
}

.mat-chip {
    font-size: 12px;
}

.mat-spinner {
    margin: auto;
}